<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <meta charset="utf-8">
  <title>MBA RAASTA</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar">
      <div class="navbar-header">
      <strong> Mba Rasta </strong>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li><a href="/alumni">Alumni</a></li>
        <li><a href="/mocks">Mocks</a></li>
        <li><a href="/random"> Random</a></li>
        <li><a href="/random"> Random</a></li>
      </ul>
       </div>
  </nav>

  <body>
    <div class="container">
